commsy/plugins/onyx/returnWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.plugin.bps.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test.plugin.bps.de/" name="ReturnWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://test.plugin.bps.de/" schemaLocation="<!--XSD-SCHEMA-LOCATION-->"/>
</xsd:schema>
</types>
<message name="saveResult2">
<part name="uniqueId" type="xsd:string"/>
<part name="resultFile" type="xsd:base64Binary"/>
<part name="params" type="tns:mapwrapper"/>
</message>
<message name="saveResult2Response"/>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="saveResult">
<part name="uniqueId" type="xsd:string"/>
<part name="resultFile" type="xsd:base64Binary"/>
</message>
<message name="saveResultResponse">
<part name="file_id" type="xsd:integer"/>
</message>
<message name="saveResultLocal">
<part name="uniqueId" type="xsd:string"/>
<part name="resultLocalFile" type="xsd:string"/>
</message>
<message name="saveResultLocalResponse"/>
<portType name="RenderServices">
<operation name="saveResult2" parameterOrder="uniqueId resultFile params">
<input wsam:Action="http://test.plugin.bps.de/RenderServices/saveResult2Request" message="tns:saveResult2"/>
<output wsam:Action="http://test.plugin.bps.de/RenderServices/saveResult2Response" message="tns:saveResult2Response"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://test.plugin.bps.de/RenderServices/saveResult2/Fault/Exception"/>
</operation>
<operation name="saveResult" parameterOrder="uniqueId resultFile">
<input wsam:Action="http://test.plugin.bps.de/RenderServices/saveResultRequest" message="tns:saveResult"/>
<output wsam:Action="http://test.plugin.bps.de/RenderServices/saveResultResponse" message="tns:saveResultResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://test.plugin.bps.de/RenderServices/saveResult/Fault/Exception"/>
</operation>
<operation name="saveResultLocal" parameterOrder="uniqueId resultLocalFile">
<input wsam:Action="http://test.plugin.bps.de/RenderServices/saveResultLocalRequest" message="tns:saveResultLocal"/>
<output wsam:Action="http://test.plugin.bps.de/RenderServices/saveResultLocalResponse" message="tns:saveResultLocalResponse"/>
</operation>
</portType>
<binding name="RenderServicesPortBinding" type="tns:RenderServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="saveResult2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="saveResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="saveResultLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://test.plugin.bps.de/"/>
</output>
</operation>
</binding>
<service name="ReturnWSService">
<port name="RenderServicesPort" binding="tns:RenderServicesPortBinding">
<soap:address location="<!--SOAP-ADDRESS-LOCATION-->"/>
</port>
</service>
</definitions>